{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<h1><a href="{url}" target="_blank"><i class="icon fi-database"></i> {headline}</a></h1>
<ul class="row accordion" data-accordion>
    <f:for each="{entries}" as="entry" iteration="iterator">

        <f:if condition="{iterator.index} == '0'">
            <f:then>
            </f:then>
            <f:else>
                <f:if condition="{iterator.index} == '1'">
                    <f:then>
                    </f:then>
                    <f:else>

                        <li class="accordion-navigation">
                            <f:if condition="{entry.description}">
                                <f:then>
                                    <a href="#panel{iterator.cycle}"><i class="icon fi-dokuwiki"></i> {entry.title}</a>
                                    <div id="panel{iterator.cycle}" class="content">
                                        <f:format.htmlentitiesDecode>{entry.description}</f:format.htmlentitiesDecode>
                                    </div>
                                </f:then>
                                <f:else>
                                    <a href="#panel{iterator.cycle}"><i class="icon fi-dokuwiki"></i> {entry.title}</a>
                                </f:else>
                            </f:if>
                        </li>

                    </f:else>
                </f:if>
            </f:else>
        </f:if>

    </f:for>
</ul>