{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<f:if condition="{headline}">
    {neos:contentElement.editable(property: 'headline', tag: 'h1', class: '', node: node)}
</f:if>

<f:flashMessages as="flashMessages">
    <div class="messages">
        <f:for each="{flashMessages}" as="flashMessage">
            <div data-alert class="alert-box warning radius">
                <f:if condition="{flashMessage.code}">
                    <h5>{flashMessage.code}</h5>
                </f:if>
                {flashMessage}
            </div>
        </f:for>
    </div>
</f:flashMessages>

<f:render partial="BikeTour/Map" arguments="{node: '{node}', gpx: '{gpx}'}" />

<f:if condition="{node.properties.slider}">
    <f:render partial="BikeTour/Slider" arguments="{node: '{node}', gpx: '{gpx}', images: '{images}'}" />
</f:if>

<f:if condition="{node.properties.graph}">
    <f:render partial="BikeTour/Graph" arguments="{node: '{node}', gpx: '{gpx}'}" />
</f:if>

<f:if condition="{node.properties.stats}">
    <f:render partial="BikeTour/Stats"  arguments="{node: '{node}', gpx: '{gpx}'}" />
</f:if>