{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

{neos:contentElement.editable(property: 'headline', tag: 'h1', class: '', node: node)}

<div id="track{node.cssId}" node="{node.cssId}" class="gmapTracks"></div>
<div class="dygraphWrap">
	<div id="graph{node.cssId}" class="dygraph" node="{node.cssId}" style="width: 100%; height: 200px"></div>
</div>

<div class="totals row">
	<div class="small-4 medium-4 large-4 columns">
		<div class="block">
			<i class="icon fi-distance"></i> <div class="center">{distance} km</div>
		</div>
	</div>
	<div class="small-4 medium-4 large-4 columns">
		<div class="block">
			<i class="icon fi-blind"></i><div class="center">{average_speed} km/h</div>
		</div>
	</div>
	<div class="small-4 medium-4 large-4 columns">
		<div class="block">
			<i class="icon fi-clock"></i><div class="center">{time}</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	GMAP{node.cssId} = [
		<![CDATA[{]]>"lat": {coord.0.0},"lon": {coord.0.1},"title":"Title B1","icon":"http://maps.google.com/mapfiles/markerB.png","show_infowindow":false<![CDATA[}]]>,
	<f:for each="{coord}" as="poi" iteration="iterator">
		<f:if condition="{iterator.isLast}">
			<f:then>
				<![CDATA[{]]>"lat": {poi.0},"lon": {poi.1}, visible: false<![CDATA[}]]>
			</f:then>
			<f:else>
				<![CDATA[{]]>"lat": {poi.0},"lon": {poi.1}, visible: false<![CDATA[}]]>,
			</f:else>
		</f:if>
	</f:for>
];


	DYGRAPH{node.cssId} = [
<f:for each="{elevation}" as="value" iteration="iterator">
	<f:if condition="{iterator.isLast}">
		<f:then>
			[new Date("{value.0}"), {value.1}, {value.2}]
		</f:then>
		<f:else>
			[new Date("{value.0}"), {value.1}, {value.2}],
		</f:else>
	</f:if>
</f:for>
];

$(document).ready(function() {

	var mapId = "#track{node.cssId}";
	var dygraph = "graph{node.cssId}";
	var graph = eval('DYGRAPH{node.cssId}');
	var path = eval('GMAP{node.cssId}');

	var map = new Maplace({
		map_div: mapId,
		locations: path,
		view_all_text: 'Start',
		type: 'polyline',
		controls_on_map: false,
		listeners: {
			click: function(map, event) {
				alert('That was a click!');
			}
		}
	}).Load();

	new Dygraph(document.getElementById(dygraph),
		  graph,
		  {
			labels: ["Date", "Elevation", "Speed km/h" ],
			showRangeSelector: true,
			highlightCallback: function(e, x, pts, row) {
				var new_marker_position = new google.maps.LatLng(path[row].lat, path[row].lon);
				console.log(path[row]);
				console.log(path[row][0], path[row][1]);
				map.markers[0].setPosition(new_marker_position);
			},
			series : {
			  'Date': { axis: 'y1' },
			  'Elevation': { axis: 'y2' }
			},
			axes: {
			  y2: {
				labelsKMB: true
			  }
			},
			ylabel: 'Speed',
			y2label: 'Elevation'
		  }
	);

});

</script>