{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers} 

<h1>{headline}</h1>
<div>{text}</div>
<div id="track{currentNode}" node="{currentNode}" class="gpxTracks"></div>

<div class="slick{currentNode}">
    <f:for each="{images}" as="slide" iteration="slickIterator">

        <div>
            <a class="openPoi" data-fotorama=",{media:uri.image(image: slide.filepath, maximumWidth: 120, maximumHeight: 80)},{slide.lat},{slide.lon},{slickIterator.index}" href="marker{slide.id}">
                <media:image image="{slide.filepath}" maximumWidth="100" maximumHeight="100" allowCropping="true" alt="dasadsa" />
            </a>
        </div>
    </f:for>
</div>

<f:for each="{images}" as="slide" iteration="slickIterator">

</f:for>


<script type="text/javascript">

    $.gmap3({
        key: 'AIzaSyC5cyabfXmf_26_dPFEcF4pvB0cBZ0W-y4'
    });

    $('.slick{currentNode}').slick({
        infinite: false,
        slidesToShow: 10,
        slidesToScroll: 10,
        responsive: [
            {
                breakpoint: 1023,
                settings: {
                    slidesToShow: 7,
                    slidesToScroll: 7,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 640,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 4
                }
            }
        ],
        lazyLoad: 'progressive',
        prevArrow: '<button type="button" class="slick-prev icon fi-arrow-simple-left"></button>',
        nextArrow: '<button type="button" class="slick-next icon fi-arrow-simple-right"></button>',
    });


    MARKER = [
            <f:for each="{images}" as="image" iteration="markerIterator">
                {latLng:[{image.lat}, {image.lon}], id: 'marker{image.id}',  data:'<a class="lightbox" data-index="{markerIterator.index}" href="[{media:uri.image(image: image.filepath, width: 500)}, (default)], [{media:uri.image(image: image.filepath, width: 800)}, (large)]">{media:image(image: image.filepath, maximumWidth: 120, maximumHeight: 80, alt: 'huhu')}<div class="text-left"><b>{image.label}</b></div><div class="text-left">{image.caption}</div><div class="text-left">{image.exifdate}</div></a>', options:<![CDATA[{]]> icon: '{f:uri.resource(path: 'Images/fi-photo.svg', package: 'JoRo.KnallImAll')}' <![CDATA[}]]>},
            </f:for>
    ]

GMAP = [

<f:for each="{file}" as="coord" iteration="iterator">
	<f:if condition="{iterator.isLast}">
		<f:then>
        {
    			strokeColor: "#12ff00",
    			strokeOpacity: 1.0,
    			strokeWeight: 2,
    			path: [

                    <f:for each="{coord}" as="poi" iteration="iteratorIf">
                    	<f:if condition="{iteratorIf.isLast}">
                    		<f:then>
                    			[{poi.0}, {poi.1}]
                    		</f:then>
                    		<f:else>
                    			[{poi.0}, {poi.1}],
                    		</f:else>
                    	</f:if>
                    </f:for>
                ]
		}
		</f:then>
		<f:else>
        {
    			strokeColor: "#12ff00",
    			strokeOpacity: 1.0,
    			strokeWeight: 2,
    			path: [

                    <f:for each="{coord}" as="poi" iteration="iteratorElse">
                    	<f:if condition="{iteratorElse.isLast}">
                    		<f:then>
                    			[{poi.0}, {poi.1}]
                    		</f:then>
                    		<f:else>
                    			[{poi.0}, {poi.1}],
                    		</f:else>
                    	</f:if>
                    </f:for>
                ]
		},
		</f:else>
	</f:if>
</f:for>
]


    var markers = eval('MARKER');
    var line = eval('GMAP');

    $('.gpxTracks').gmap3({
                address:"Paris, France",
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                scrollwheel: true,
                streetViewControl: true
            }).marker(markers).polyline(line).fit();




</script>

<script>
    var uluru = [{ position: [{lat: -25.363, lng: 131.044}] },
        { position: [{lat: -20.363, lng: 125.044}] },
        { position: [{lat: -22.363, lng: 130.044}] }];

    $('.map')
            .gmap3({
                zoom: 4,
            })
            .marker({
                values: markers,
                options:{
                    draggable: false
                },
                events:{
                    closeclick: function(infowindow){
                        var infowindow = $(this).gmap3({get:{name:"infowindow"}});
                        if (infowindow){
                            infowindow.close();
                        }
                    },
                    click: function(marker, event, context){
                        var map = $(this).gmap3("get"),
                                infowindow = $(this).gmap3({get:{name:"infowindow"}});
                        if (infowindow){
                            infowindow.open(map, marker);
                            infowindow.setContent(context.data);
                        } else {
                            $(this).gmap3({
                                infowindow:{
                                    anchor:marker,
                                    options:{content: context.data}
                                }
                            });
                        }
                    }
                }

            })
            .infowindow([
                {content: "Hello from Uluru"},
                {content: "Hello from Uluru"},
                {content: "Hello from Uluru"}
            ])
            .then(function (infowindow) {
                //console.dir(this.get(0));
                console.log(this);
                var map = this.get(0);
                var marker = this.get(1);
                console.log(marker[0]['clickable']);
                console.log(map);
//                marker.addListener('click', function() {
//                    infowindow.open(map, marker);
//                })
            }).on({
                click: function (marker, event) {
                    console.log('click');
                }
            }).fit();
</script>
